<div class="text-center">
  <form action="/room" method="post">
    <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
    <input type="text" class="form-control"></input>
    <button type="submit" class="btn btn-primary">Create new room!</button>
  </form>
</dev>