<div class="row">
  <div class="col-sm-2">
    <h3>Welcome to the room!</h3>
    <p><%= @room_id %></p>
  </div>
  <div class="col-sm-4 text-center">
    <h3>Your name:</h3>
    <form phx-submit="join">
      <input type="hidden" name="_csrf_token" value="<%= Plug.CSRFProtection.get_csrf_token() %>">
      <input type="text" name="username">
      <button type="submit" class="btn btn-primary">Join now!</button>
    </form>
  </div>
</div>
